.shopContainer{
    display: grid;
    grid-template-columns: 10fr 2fr;
    /* border: 3px solid green; */


}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    /* border: 3px solid darkblue; */
    margin: 30px auto;

    
}
.cart-Container{

    background-color: #FFE0B2
}