.cart{
    position: sticky;
    top: 0;
    padding: 40px;
}
.cart h2{
    text-align: center;
}

.clear-cart-btn{
    padding: 10px 13px;
    background-color: rgb(255, 80, 139);
    color: aliceblue;
    font-size: larger;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    margin-right: 5px;
    
}
.clear-cart-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 98, 145);
}

.checkout-btn{
    padding: 10px 13px;
    background-color: rgb(242, 127, 39);
    color: aliceblue;
    font-size: larger;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
}
.checkout-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 166, 13);
}