.form-container{
    width: 500px;
    height: 600px;
    margin: 80px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 40px;
}

.form-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: navy;
    font-weight: 700;
    text-align: center;
}
.form-control{
    margin-bottom: 20px;
}
.form-control label{
    display: block;

    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015rem;
    color: #2A414F;
    margin-bottom: 10px;
}

.form-control input{
    width: 415px;
    height: 55px;

    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
}

.btn-submit{
    width: 415px;
    height: 55px;
    
    background-color:lightsalmon;
    border-radius: 5px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    padding-left: 15px;
    border: none;
    color: #0E161A;
    margin-top: 45px;
}

.btn-submit:hover{
    background:darksalmon;
    cursor: pointer;
}